<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <div>
        <div id="app" class="wrapper">
            <%- include("./partials/navbar.ejs") %>
                <%- body %>
        </div>
        <%- script %>
    </div>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>

</html>